<%- include("header") -%>

<h2>About Page</h2>

<p>This is Todolist app where you can take note of work to be done by you. Here you can manage your pending work. Also you can create your own section of work type, for eg.. you can create your "Office" work by just simply directing to "url/(office)".</p>

<%- include("footer") -%>
